/* triangle generator: http://apps.eky.hk/css-triangle-generator/ */
/*decoration*/
  /*leaves*/
  .topleaves{
    position: absolute;
    background-color: #73ce65;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    z-index: 2;
    top: -70px;
    left: 40px;
    transform: rotate(-22deg);
  }

  .topleave2{
    position: absolute;
    background-color: #39823d;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    z-index: 2;
    top: -60px;
    left: 52px;
    transform: rotate(2deg);
  }


  .topbrunch{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 30px 0 0;
    border-color: #bee4e7 transparent transparent transparent;
    z-index: 4;
  }
  .topbrunch2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 20px 10px 60px;
    border-color: transparent transparent transparent #fae3c3;
    position: absolute;
    top: -18px;
    right: -68px;
    transform: rotate(-32deg);
    z-index: 2;
  }

  .topbrunch3{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 30px 0 0;
    border-color: #0f555f transparent transparent transparent;
    z-index: 4;
  }
  .topbrunch4{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 20px 10px 60px;
    border-color: transparent transparent transparent #b4712d;
    position: absolute;
    top: -18px;
    right: -68px;
    transform: rotate(-32deg);
    z-index: 2;
  }

  /*cloud*/
  .treecloud{
  }
  .tc1{
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 20%;
  }
  .tc2{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20%;
  }
  .tc3{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20%;
  }
  .tc301{
    width: 40px;
    height: 20px;
    background-color: white;
  }
  .tcps1{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .tcps2{
    position: absolute;
    top: 0px;
    left: 150px;
  }
  .tcps3{
    position: absolute;
    top: 0px;
    left: 75px;
  }
  .tc2ps1{
    position: absolute;
    top: 0px;
    left: 50px;
  }
  .tc3ps1{
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .tc3ps2{
    position: absolute;
    top: 0px;
    left: 47px;
  }


  .treecloudmv{
    animation: treecloudprss3 30s infinite linear;
    position: absolute;
    top: 400px;
    left: 0px;
  }

  .tcps11{
    top: 20%;
  }

  .treecloudmv2{
    animation: treecloudprss2 40s infinite linear;
    position: absolute;
    top: 820px;
    left: 9px;
  }
  .tcps21{
    top: 50%;
  }
  .treecloudmv3{
    animation: treecloudprss 30s infinite linear;
    position: absolute;
    top: 1000px;
    left: 0px;
  }
  .tcps31{
    top: 70%;
  }
  .treecloudmv4{
    animation: treecloudprss3 80s forwards linear;
    position: absolute;
    top: 1400px;
  }
  .tcps41{
    top: 40%;
  }
  @keyframes treecloudprss {
    from{
      opacity: 0.9;
      left: -600px;
    }
    to{
      opacity: 0.9;
      left: 1800px;
    }
  }
  @keyframes treecloudprss2 {
    from{
      opacity: 0.7;
      left: -600px;
    }
    to{
      opacity: 0.7;
      left: 1800px;
    }
  }
  @keyframes treecloudprss3 {
    from{
      opacity: 0.6;
      left: -600px;
    }
    to{
      opacity: 0.6;
      left: 1800px;
    }
  }

/*cloud end*/

    @keyframes across {
      from {
        left: -70%;
      }
      to {
        left: 100%;
      }
    }


    .ground0{
      width: 100%;
      height: 20px;
      background-color: #c4df9b;
      position: absolute;
    }
    .gnov{
      top: 5310px;
    }
    .gdec{
      background-color: white;
      top: 1730px;
    }
    .goct{
      bottom: 0%;
    }

    .mountain1{
      position: absolute;
      left: 70%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 300px 400px 300px;
      border-color: transparent transparent #a3d49c transparent;
    }
    .m1dec{
      top: 1330px;
      border-color: transparent transparent #c9eee7 transparent;
    }
    .m1nov{
      top: 4910px;
    }
    .m1oct{
      bottom: 20px;
    }

    .mountain2{
      position: absolute;
      left: 60%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 150px 200px 150px;
      border-color: transparent transparent #7acdc8 transparent;
    }
    .m2dec{
      top: 1530px;
      border-color: transparent transparent #9bdadf transparent;
    }
    .m1nov{
      top: 5110px;
    }
    .m2oct{
      bottom: 20px;
    }
