/* triangle generator: http://apps.eky.hk/css-triangle-generator/ */
/*decoration*/
  /*birds*/
  .treebrids3{
    position: absolute;
    left: 350px;
  }
  .bhalf3{
    background-color: #7accc0;
    width: 20px;
    height: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
  }
  .bbody3{
    background-color: #7accc0;
    width: 17px;
    height: 11px;
    position: absolute;
    top: 10px;
    left: 3px;
  }
  .btail3{
    top: 21px;
    left: 3px;
    transform: rotate(180deg);
  }
  .beye3{
    background-color: #037987;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 6px;
    border-radius: 50%;
  }
  .treebrids4{
    position: absolute;
    left: 450px;
  }
  .bhalf4{
    background-color: #7accc0;
    width: 20px;
    height: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
  }
  .bbody4{
    background-color: #7accc0;
    width: 17px;
    height: 11px;
    position: absolute;
    top: 10px;
    left: 0px;
  }
  .btail4{
    top: 21px;
    left: -3px;
    transform: rotate(180deg);
  }
  .beye4{
    background-color: #037987;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 9px;
    border-radius: 50%;
  }
  /*birds end*/


  /*leaves*/
  .topleaves{
    position: absolute;
    background-color: #73ce65;
    width: 140px;
    height: 140px;
    border-radius: 10%;
    z-index: 2;
    top: -127px;
    left: 50px;
    transform: rotate(-22deg);
  }

  .topleave2{
    position: absolute;
    background-color: #39823d;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    z-index: 2;
    top: -60px;
    left: 52px;
    transform: rotate(2deg);
  }


  .topbrunch{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 30px 0 0;
    border-color: #bee4e7 transparent transparent transparent;
    z-index: 4;
  }


  .topbrunch2 {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0px 30px 120px;
      border-color: transparent transparent transparent #f4d1a9;
      position: absolute;
      top: -35px;
      right: -93px;
      transform: rotate(-32deg);
      z-index: 2;
  }

  /*.topbrunch3{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 30px 0 0;
    border-color: #0f555f transparent transparent transparent;
    z-index: 4;
  }*/
  .topbrunch4{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0px 10px 90px;
    border-color: transparent transparent transparent #a96f61;
    position: absolute;
    top: -18px;
    right: -68px;
    transform: rotate(-32deg);
    z-index: 2;
  }

  /*cloud*/
  .treecloud{
  }
  .tc1{
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 20%;
  }
  .tc2{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20%;
  }
  .tc3{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20%;
  }
  .tc301{
    width: 40px;
    height: 20px;
    background-color: white;
  }
  .tcps1{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .tcps2{
    position: absolute;
    top: 0px;
    left: 150px;
  }
  .tcps3{
    position: absolute;
    top: 0px;
    left: 75px;
  }
  .tc2ps1{
    position: absolute;
    top: 0px;
    left: 50px;
  }
  .tc3ps1{
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .tc3ps2{
    position: absolute;
    top: 0px;
    left: 47px;
  }


  .treecloudmv{
    animation: treecloudprss3 30s infinite linear;
    position: absolute;
    top: 400px;
    left: 0px;
  }

  .tcps11{
    top: 20%;
  }

  .treecloudmv2{
    animation: treecloudprss2 40s infinite linear;
    position: absolute;
    top: 820px;
    left: 9px;
  }
  .tcps21{
    top: 50%;
  }
  .treecloudmv3{
    animation: treecloudprss 30s infinite linear;
    position: absolute;
    top: 1000px;
    left: 0px;
  }
  .tcps31{
    top: 70%;
  }
  .treecloudmv4{
    animation: treecloudprss3 80s forwards linear;
    position: absolute;
    top: 1400px;
  }
  .tcps41{
    top: 40%;
  }

  .treecloudmv5{
    animation: treecloudprss3 30s infinite linear;
    position: absolute;
    top: 1800px;
    left: 0px;
  }

  .treecloudmv10{
    animation: treecloudprss3 30s infinite linear;
    position: absolute;
    top: 2200px;
    left: 0px;
  }

  .treecloudmv6{
    animation: treecloudprss3 30s infinite linear;
    position: absolute;
    top: 2600px;
    left: 0px;
  }
  .treecloudmv11{
    animation: treecloudprss3 70s infinite linear;
    position: absolute;
    top: 3000px;
    left: 0px;
  }
  .treecloudmv7{
    animation: treecloudprss2 60s infinite linear;
    position: absolute;
    top: 3400px;
    left: 0px;
  }
  .treecloudmv12{
    animation: treecloudprss 40s infinite linear;
    position: absolute;
    top: 3800px;
    left: 0px;
  }
  .treecloudmv8{
    animation: treecloudprss 30s infinite linear;
    position: absolute;
    top: 4200px;
    left: 0px;
  }
  .treecloudmv13{
    animation: treecloudprss 80s infinite linear;
    position: absolute;
    top: 4600px;
    left: 0px;
  }
  .treecloudmv9{
    animation: treecloudprss3 40s infinite linear;
    position: absolute;
    top: 5000px;
    left: 0px;
  }


  @keyframes treecloudprss {
    from{
      z-index: 1;
      opacity: 0.9;
      left: -600px;
    }
    to{
      z-index: 1;
      opacity: 0.9;
      left: 100%;
    }
  }
  @keyframes treecloudprss2 {
    from{
      z-index: 1;
      opacity: 0.7;
      left: -600px;
    }
    to{
      z-index: 1;
      opacity: 0.7;
      left: 100%;
    }
  }
  @keyframes treecloudprss3 {
    from{
      z-index: 1;
      opacity: 0.6;
      left: -600px;
    }
    to{
      z-index: 1;
      opacity: 0.6;
      left: 100%;
    }
  }

/*cloud end*/

    @keyframes across {
      from {
        left: -70%;
      }
      to {
        left: 100%;
      }
    }


    .ground0{
      width: 100%;
      height: 20px;
      background-color: #d7e7a0;
      position: absolute;
      z-index: 1;
    }
    .gnov{
      top: 5310px;
    }
    .gdec{
      background-color: white;
      top: 1730px;
    }
    .goct{
      bottom: 0%;
    }


    #wholetree4{
      position: absolute;
      bottom: 300px;
      left: 50%;
      z-index: 21;
    }

    .wholetreetruck{
      background-color: #f4d1a9;
      width: 30px;
      height: 280px;
      position: absolute;
      left: 50%;
      margin-left: -15px;
    }
    .wholetreeleavse1{
      width: 200px;
      height: 200px;
      border-radius: 5%;
    }
    .wholetreeleavse2{
      width: 240px;
      height: 240px;
      border-radius: 5%;
    }
    .wholetreeps1{
      position: absolute;
      top: -80px;
      left: -240px;
    }
    .wholetreeps2{
      position: absolute;
      top: -180px;
      left: 30px;
    }

    #bigforest0{
      position: absolute;
      bottom: 70px;
    }
    #bigforest1{
      position: absolute;
      bottom: 70px;
      left: 170px;
    }
    #bigforest2{
      position: absolute;
      bottom: 70px;
      left: 340px;
    }
    #bigforest3{
      position: absolute;
      bottom: 70px;
      left: 510px;
    }
    #bigforest4{
      position: absolute;
      bottom: 70px;
      left: 680px;
    }
    #bigforest5{
      position: absolute;
      bottom: 70px;
      left: 850px;
    }
    #bigforest6{
      position: absolute;
      bottom: 70px;
      left: 1020px;
    }
    #bigforest7{
      position: absolute;
      bottom: 70px;
      left: 1190px;
    }

    .bgftree1{
      width: 30px;
      height: 50px;
      border-radius: 50%;
    }
    .bgftps1{
      position: absolute;
      left: -10px;
      z-index: 2;
    }
    .bgftps2{
      position: absolute;
      left: 15px;
      z-index: 1;
    }
    .bgftps3{
      position: absolute;
      left: 40px;
      z-index: 2;
    }
    .bgftps4{
      position: absolute;
      left: 65px;
      z-index: 1;
    }
    .bgftps5{
      position: absolute;
      left: 90px;
      z-index: 1;
    }
    .bgftps6{
      position: absolute;
      left: 115px;
      z-index: 2;
    }

    #bigmiddletree0{
      position: absolute;
      bottom: 190px;
      left: 40px;
    }
    .bgmidtree1{
      width: 100px;
      height: 150px;
      background-color: #75c167;
      border-radius: 10%;
      z-index: 12;
    }
    .bgmidtreet1{
      width: 15px;
      height: 30px;
      background-color: #db9c66;
      z-index: 12;
      position: absolute;
      top: 150px;
      left: 40px;
    }
    .bgmddtps1{
      position: absolute;
      top: -10px;
    }
    .bgmddtps2{
      position: absolute;
      top: -10px;
      left: 320px;
    }
    .bgmddtps3{
      position: absolute;
      top: -10px;
      left: 640px;
    }
    .bgmddtps4{
      position: absolute;
      top: -10px;
      left: 960px;
    }
    .bgmddtps5{
      position: absolute;
      top: -10px;
      left: 1280px;
    }

    .mountain1{
      position: absolute;
      left: 70%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 300px 400px 300px;
      border-color: transparent transparent #a3d49c transparent;
      z-index: 1;
    }
    .m1dec{
      top: 1330px;
      border-color: transparent transparent #c9eee7 transparent;
    }
    .m1nov{
      top: 4910px;
    }
    .m1oct{
      bottom: 20px;
    }

    .mountain2{
      position: absolute;
      left: 60%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 150px 200px 150px;
      border-color: transparent transparent #7acdc8 transparent;
      z-index: 1;
    }
    .m2dec{
      top: 1530px;
      border-color: transparent transparent #9bdadf transparent;
    }
    .m2nov{
      top: 5110px;
    }
    .m2oct{
      bottom: 20px;
    }
