.introcloud{
}
.ic1{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 20%;
}
.icps1{
  position: absolute;
  top: 0px;
  left: 0px;
}
.icps2{
  position: absolute;
  top: 0px;
  left: 40px;
}



.introcloudmv{
  animation: introcloudprss 160s infinite linear;
  position: absolute;
  top: 120px;
}
.introcloudmv2{
  animation: introcloudprss2 200s forwards linear;
  position: absolute;
  top: 220px;
}
.introcloudmv3{
  animation: introcloudprss 240s infinite linear;
  animation-delay: 60s;
  position: absolute;
  top: 300px;
  opacity: 0;
}
.introcloudmv4{
  animation: introcloudprss3 160s forwards linear;
  position: absolute;
  top: 400px;

}
@keyframes introcloudprss {
  from{
    opacity: 0.9;
    left: -100px;
  }
  to{
    opacity: 0.9;
    left: 1800px;
  }
}
@keyframes introcloudprss2 {
  from{
    opacity: 0.9;
    left: 860px;
  }
  to{
    opacity: 0.9;
    left: 1800px;
  }
}
@keyframes introcloudprss3 {
  from{
    opacity: 0.9;
    left: 160px;
  }
  to{
    opacity: 0.9;
    left: 1800px;
  }
}

.bigtitle{
  width: 800px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -100px;
  font-size: 100px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 20;
  text-transform: capitalize;
}
.introbigtreetrunk{
  width: 20px;
  height: 100%;
  position: absolute;
  bottom: 1%;
  left: 50%;
  margin-left: -20px;
  background-color: #fae3c3;
  z-index: 18;
}
.introbigtreeleaves1{
  width: 140px;
  height: 140px;
  border-radius: 5%;
}
.introbigtreeleaves2{
  width: 200px;
  height: 200px;
  border-radius: 5%;
}
.introbigtreelps1{
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.introbigtreelps2{
  position: absolute;
  bottom: 170px;
  left: -235px;
}
.introbigtreelps3{
  position: absolute;
  bottom: 290px;
  left: 50px;
}
.introbigtreelps4{
  position: absolute;
  bottom: 410px;
  left: -215px;
}
.introbigtreelps5{
  position: absolute;
  bottom: 530px;
  left: 30px;
}
.introbigtreelps6{
  position: absolute;
  bottom: 650px;
  left: -235px;
}
.introbigtreelps7{
  position: absolute;
  bottom: 770px;
  left: 30px;
}

.middletreetrunk1{
  width: 10px;
  height: 80px;
  background-color: #d1af94;
  z-index: 20;
}
.middletreeleaves1{
  width: 80px;
  height: 100px;
  background-color: #8ac745;
  position: absolute;
  top: -40px;
  left: -35px;
  border-radius: 10%;
}

.middletrees1{
  position: absolute;
  bottom: 1%;
  left: 15%;
  z-index: 16;
}

.middletrees2{
  position: absolute;
  bottom: 1%;
  left: 40%;
  z-index: 16;
}
.middletrees3{
  position: absolute;
  bottom: 1%;
  left: 65%;
  z-index: 16;
}
.middletrees4{
  position: absolute;
  bottom: 1%;
  left: 90%;
  z-index: 16;
}

.container3{
  background-color: #bee4e7;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.mt001 {
    position: absolute;
    left: -1%;
    bottom: 1%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 250px 300px 250px;
    border-color: transparent transparent #a3d49c transparent;
    z-index: 10;
}
.mt002 {
  position: absolute;
  bottom: 1%;
  left: 19%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 170px 200px 170px;
    border-color: transparent transparent #7acdc8 transparent;
    z-index: 9;
}
.mground {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 1%;
  background-color: #c4df9b;
}
.introforest1{
  position: absolute;
  height: 100%;
}
.introforest2{
  position: absolute;
  left: 160px;
  height: 100%;
}
.introforest3{
  position: absolute;
  left: 320px;
  height: 100%;
}
.introforest4{
  position: absolute;
  left: 480px;
  height: 100%;
}
.introforest5{
  position: absolute;
  left: 640px;
  height: 100%;
}
.introforest6{
  position: absolute;
  left: 800px;
  height: 100%;
}
.introforest7{
  position: absolute;
  left: 960px;
  height: 100%;
}
.introforest8{
  position: absolute;
  left: 1120px;
  height: 100%;
}
.introforest9{
  position: absolute;
  left: 1280px;
  height: 100%;
}

.introtree1{
  width: 30px;
  height: 50px;
  border-radius: 50%;
}
.intrfps1{
  position: absolute;
  bottom: 1.2%;
  left: -10px;
  z-index: 14;
}
.intrfps2{
  position: absolute;
  bottom: 1.2%;
  left: 15px;
  z-index: 15;
}
.intrfps3{
  position: absolute;
  bottom: 1.2%;
  left: 40px;
  z-index: 14;
}
.intrfps4{
  position: absolute;
  bottom: 1.2%;
  left: 65px;
  z-index: 14;
}
.intrfps5{
  position: absolute;
  bottom: 1.2%;
  left: 90px;
  z-index: 15;
}
.intrfps6{
  position: absolute;
  bottom: 1.2%;
  left: 115px;
  z-index: 14;
}
