body{
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #bee4e7;
}



/* triangle generator: http://apps.eky.hk/css-triangle-generator/ */


.container0{
  background-color: #bee4e7;
  position: relative;
  height: 5330px;
  width: 100%;
  overflow: hidden;
}
.container1{
  background-color: #0f555f;
  position: relative;
  height: 1750px;
  width: 100%;
  overflow: hidden;
}

.container3{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.tpnvlndec{
  height: 6px;
  width: 50%;
  background-color: rgba(196, 223, 155, 1);
  position: fixed;
  top: 34px;
}

.date{
  text-align: center;
  font-size: 16pt;
  color: rgba(0, 0, 0, 0.5);
  line-height: 800%;
  position: absolute;
  top: 95px;
  left: 4px;
}
.dateleft{
  left: 10px;
}
.dcolor{
  color: #f5f7f6;
}
.title1{
  text-align: center;
  font-size: 18pt;
  text-transform: uppercase;
  margin: 80px;
}
.title2{
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  text-transform: uppercase;
  line-height: 180%;
}
.wholetree1{
  width: 800px;
  height: 5180px;
  position: absolute;
  top: 150px;
  margin-left: -400px;
  left: 50%;
  z-index: 16;
}
.wholetree2{
  width: 800px;
  height: 1600px;
  position: absolute;
  top: 150px;
  margin-left: -400px;
  left: 50%;
  z-index: 16;
}

.timetable1{
  background-color: #f4d1a9;
  width: 30px;
  height: 5080px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -15px;
}

.timetable2{
  background-color: #a96f61;
  width: 30px;
  height: 1500px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -15px;
}

.tlleftside{
  width: 320px;
  float: left;
}
.tlrightside{
  width: 320px;
  padding-top: 170px;
  float: right;
}
.blank1{
  position: relative;
  width: 160px;
  height: 100px;
  float: left;
}
.contentbox{
  position: relative;
  float: left;
  width: 300px;
}

.leaves1{
  position: relative;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin: 10px;*/
  float: left;
  border-radius: 2%;
  z-index: 2;
}
.leaves2{
  background-color: #73ce65;
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 5%;
  z-index: 3;
  }
.leaves3{
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5%;
  }

  .rsposition1{
    position: absolute;
    top: -5px;
    left: -90px;
    z-index: 3;
    transform: rotate(-2deg);
  }
  .rsposition2{
    position: absolute;
    top: 60px;
    left: 90px;
    z-index: 3;
    transform: rotate(4deg);
  }
  .rsposition3{
    position: absolute;
    top: 170px;
    left: -50px;
    z-index: 3;
    transform: rotate(-4deg);
  }
  .rsposition4{
    position: absolute;
    top: -60px;
    left: 190px;
    z-index: 3;
  }
  .rsposition5{
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 3;
    transform: rotate(2deg);
  }
  .rsposition6{
    position: absolute;
    top: 150px;
    left: 310px;
    z-index: 3;
    transform: rotate(-2deg);
  }
  .rsposition7{
    position: absolute;
    top: 220px;
    left: 150px;
    z-index: 3;
    transform: rotate(4deg);
  }

  .lsp31{
    position: absolute;
    top: -10px;
    left: 50px;
    z-index: 3;
    transform: rotate(-2deg);
  }
  .lsp32{
    position: absolute;
    top: 80px;
    left: 210px;
    z-index: 3;
    transform: rotate(4deg);
  }
  .lsp33{
    position: absolute;
    top: 160px;
    left: 15px;
    z-index: 3;
    transform: rotate(-4deg);
  }
.lsposition1{
  position: absolute;
  top: -15px;
  left: 20px;
  z-index: 3;
  transform: rotate(-2deg);
}
.lsposition2{
  position: absolute;
  top: 60px;
  left: 150px;
  z-index: 3;
  transform: rotate(4deg);
}
.lsposition3{
  position: absolute;
  top: 160px;
  left: -10px;
  z-index: 3;
  transform: rotate(-4deg);
}
.lsposition4{
  position: absolute;
  top: -60px;
  left: 190px;
  z-index: 3;
}
.lsposition5{
  position: absolute;
  top: 0px;
  left: 300px;
  z-index: 3;
  transform: rotate(2deg);
}
.lsposition6{
  position: absolute;
  top: 150px;
  left: 310px;
  z-index: 3;
  transform: rotate(-2deg);
}
.lsposition7{
  position: absolute;
  top: 220px;
  left: 150px;
  z-index: 3;
  transform: rotate(4deg);
}

.textarrowforleft{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 110px 30px 0;
  border-color: transparent #f4d1a9 transparent transparent;
  position: absolute;
  top: 245px;
  left: 275px;
  z-index: 1;
}
.textarrowforright{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 30px 100px;
  border-color: transparent transparent transparent #f4d1a9;
  position: absolute;
  top: 245px;
  right: 265px;
}
.textarrowforleft2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 110px 30px 0;
  border-color: transparent #a96f61 transparent transparent;
  position: absolute;
  top: 245px;
  left: 275px;
  z-index: 1;
}
.textarrowforright2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 30px 100px;
  border-color: transparent transparent transparent #a96f61;
  position: absolute;
  top: 245px;
  right: 265px;
}

.blank1{
  position: relative;
  width: 160px;
  height: 100px;
  float: left;
}



.es1{
  background-color: #ed1c24;
}
.es2{
  background-color: #f25235;
}
.es3{
  background-color: #f68846;
}
.es4{
  background-color: #fabf57;
}
.es5{
  background-color: #fff568;
}
.es6{
  background-color: #dee96c;
}
.es7{
  background-color: #bedd6f;
}
.es8{
  background-color: #9dd172;
}
.es9{
  background-color: #7cc576;
}
.es0{
  background-color: #73ce65;
}



/*leaves*/
/*right*/
.rightl1{
  left:120px;
}
.rightl2{
  left:40px;
}
.rightl3{
  left:-20px;
  z-index: 5;
}
.rlarrow1{
  border-width: 0px 0 36px 310px;
  top: 245px;
  right: 55px;
}
.rlarrow2{
  border-width: 0px 0 30px 170px;
  top: 245px;
  right: 195px;
}
.leftl1{
  left:-120px;
}
.leftl2{
  left:-40px;
}
.leftl3{
  left: 20px;
}
.llarrow1{
  border-width: 0px 340px 36px 0;
  left: 45px;
  top: 243px;
}
.llarrow2{
  border-width: 0px 170px 36px 0;
  top: 245px;
  left: 215px;
}
.lrutle1{
  transform: rotate(-2deg);
}
.lrutle2{
  transform: rotate(-1.5deg);
}
.lrutle3{
  transform: rotate(-1deg);
}
.lrutle4{
  transform: rotate(-0.5deg);
}
.lrutle5{
  transform: rotate(0deg);
}
.lrutle6{
  transform: rotate(0.5deg);
  z-index: 3;
}
.lrutle7{
  transform: rotate(1deg);
}
.lrutle8{
  transform: rotate(1.5deg);
}
.lrutle9{
  transform: rotate(2deg);
}
.spinmv{
  animation: spinprss 10s infinite linear;

}
@keyframes spinprss {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
